h1{ 
    text-align: center;
    font-family: "Times New Roman";
    font-size: 40;
    margin: 0;
    padding-bottom: 0%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h2{
    text-align: center;
    font-family: "Times New Roman";
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3469A9;
}

body{
    font-family: "Times New Roman", Times, Serif;
    font-size: 20px;
    line-height: 1.5;
    border: 1px solid gray;
    padding: 50px;
    max-width: 600px;
    margin: 0 auto;
}

img{
    width: 150px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 50px;
}

.do-list li{
    margin-bottom: 20px;
}
